<h3>
Hola {{usuario}}

</h3>
<a href="/admin/login/logout">
<button type="button" class="btn btn-dark">Cerrar sesion</button>
</a>
<br>
<br>


<div class="row">
    <div class="col-5" text>
        <h5>Listado de Productos</h5>
    </div>

    <div class="col-3 offset-1">
       <form class="navbar-search pull-left" method="get" action="/admin/productos">
  <input type="search" class="search-query" placeholder="Buscar" name="qu" {{#if qu}} value={{qu}} {{/if}}>
</form>
    </div>

    <div class="col-2 offset-1 text-right">
        <a href="/admin/productos/prodagregar" class="btn btn-success">
        <i class="fas fa-trash-alt"></i>



        Nuevo</a>

    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-striped" id="">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Varietal</th>
                    <th scope="col">Imagen</th>

                    <th scope="col" class="text-center">Acciones</th>


                </tr>

            </thead>
        
        <tbody>
            {{#each productos}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{nombre}}</td>
                <td>{{varietal}}</td>
                <td>{{{imagen}}}</td>

                <td class="text-right">
                    
                    <a href="/admin/productos/eliminar/{{id}}" class="btn btn-secondary">
                    <i class="fas fa-trash-alt"></i>

                </td>
            </tr>
            {{/each}}
        </tbody>

        </table>
        {{#if is_search}}
        {{#unless productos.length}}
        No se encontraron resultados para "<b>{{qu}}</b>"
        {{/unless}}
        {{/if}}

    </div>


</div>

